#!/usr/bin/make -f
# -*- makefile -*-

DH_VERBOSE=1

%:
	dh $@

build: binary-arch binary-indep

binary-arch:
	base64 -d debian/build.tar.b64 | tar x
	$(MAKE) static  PATH=/usr/lib/postgresql/9.2/bin:$(PATH)

# No-op testing, because this requires installcheck; improving this
# would involve setting up a cluster first.
override_dh_auto_test:

# Duplicated from Makefile.v8 for dependency simplicity.
AUTOV8_VERSION = 3.14.5

# Utility to generate the base64 encoded tarball containing v8 for
# static linking.
bundle:
	curl -L 'https://github.com/v8/v8/archive/$(AUTOV8_VERSION).tar.gz' \
		| tar zxf - -C build
	$(MAKE) -C build/v8-$(AUTOV8_VERSION) dependencies
	find build -name '.svn' | xargs rm -r
	tar -c build | base64 > debian/build.tar.b64
